datasets
langchain
langchain_community
langchain-ollama
python-dotenv
transformers
torch
mistral_inference
bitsandbytes
sentencepiece
langchain-cli
langchain-openai
mistralai
accelerate
huggingface-hub

