accelerate
bitsandbytes
datasets
huggingface-hub
langchain
langchain-cli
langchain_community
langchain-ollama
langchain-openai
llama-cpp-python
mistralai
python-dotenv
sentencepiece
transformers
torch
gitpython
nltk
tabulate
rouge_score
bert_score
ollama